.boxes {
 display: grid;
 font-family: "Roboto-Thin";
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
 grid-gap: 20px;
 position: relative;
 margin-left: 20px;
 margin-right: 20px;
}

.box {
 background-position-x: 0%, 0%;
 background-position-y: 0%, 0%;
 background-size: auto, auto;
 background-position: center;
 background-size: 100%;
 height: 100px;
 box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.05);
 position: relative;
 border-radius: 4px;
 color: white;
 transition: 250ms;
}

.box:hover {
 transform: scale(1.05);
 box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.box1 {
 background: url("../svg/cards/1.svg"), linear-gradient(150deg, #5a57c9, #44409a);
 background-position: center;
 background-size: 100%;
}

.box2 {
 background: url("../svg/cards/2.svg"), linear-gradient(150deg, #ffd3a5a5, #fd6f88a5);
 background-position: center;
 background-size: 100%;
}

.box3 {
 background: url("../svg/cards/3.svg"), linear-gradient(150deg, #abdcffa5, #1ba0ffa5);
 background-position: center;
 background-size: 100%;
}

.box4 {
 background: url("../svg/cards/4.svg"), linear-gradient(150deg, #48435a, #39384a);
 background-position: center;
 background-size: 100%;
}

.boxcontainter {
 position: absolute;
 padding: 0 0 0 10px;
 color: var(--text);
}

.boxcontainter h3.boxheader {
 font-size: 35px;
 margin-top: 10px;
 margin-bottom: 0;
}

.boxcontainter .heading {
 font-size: 17px;
 font-weight: 500;
}

.container {
 max-width: 800px;
 padding: 20px 0px;
 margin: auto;
 margin-top: 60px;
 font-family: "Poppins";
}
.uptime {
 font-size: 25px;
 text-align: center;
}
.headerinfo {
 text-align: center;
}