<%- include("partials/head", { bot, arc, user, path, description, title: "FAQ",  url, image }) %>

<h2 style="padding-top: 100px; text-align: center; font-size: 26px">Các câu hỏi thường gặp</h2>

<div style="visibility: hidden; position: absolute; width: 0px; height: 0px;">
  <svg xmlns="http://www.w3.org/2000/svg">
    <symbol viewBox="0 0 24 24" id="expand-more">
      <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/>
    </symbol>
    <symbol viewBox="0 0 24 24" id="close">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/>
    </symbol>
  </svg>
</div>

<details>
  <summary>
    Làm cách nào để thay đổi Prefix của bot?
    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary>
  <p>Bạn có thể thay đổi Prefix mặc định bằng<code style="color: rgb(255, 0, 200)">!setPrefix 	&lt;Prefix mới&gt;</code> hoặc bằng cách đi đến trang cài đặt chính của bảng điều khiển.</p>
</details>

<details>

  <summary>
    Làm cách nào để mời tôi vào Máy chủ của tôi?
    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary>
  <p>Chỉ cần truy cập <a href="https://discord.com/oauth2/authorize?client_id=830459482634453022&permissions=8&redirect_uri=https%3A%2F%2Fhuyhgt.huyn9589.repl.co%2Fcallback&scope=bot">https://tinyurl.com/SodaChan</a> trong trình duyệt của bạn, sau đó ủy quyền cho ứng dụng.</p>
</details>

<details>
  <summary>
    Làm cách nào để sử dụng Embed? 
    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary>
  <p>Đầu tiên, chỉ cần điền vào nội dung Embed mà bạn muốn, sau đó nhấn vào nút gửi nằm ở dưới cùng bên phải của trang. Sau khi nhấp, bạn sẽ có tùy chọn gửi nó đến một kênh bạn chọn, để lưu nó dưới dạng lệnh tùy chỉnh hoặc gửi nó dưới dạng webhook.</p>
</details>
<br>
<br>

<%- include("partials/mainfooter") %>
<%- include("partials/footer") %>

<style>

details {
  width: 75%;
  min-height: 5px;
  max-width: 700px;
  padding: 45px 70px 45px 45px;
  margin: 0 auto;
  position: relative;
  font-size: 22px;
  border-radius: 15px;
  box-sizing: border-box;
  transition: all .3s;
}

details + details {
  margin-top: 20px;
}

details[open] {
  min-height: 50px;
  background-color: #2f2f2f;
  box-shadow: 2px 2px 20px rgba(0,0,0,.2);
}

details p {
  color: #ffffff;
  font-weight: 300;
}

summary {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

summary:focus {
  outline: none;
  
}

summary:focus::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 5px rebeccapurple;
}

summary::-webkit-details-marker {
  display: none
}

.control-icon {
  fill: rebeccapurple;
  transition: .3s ease;
  pointer-events: none;
}

.control-icon-close {
  display: none;
}

details[open] .control-icon-close {
  display: initial;
  transition: .3s ease;
}

details[open] .control-icon-expand {
  display: none;
}
</style>